@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root{
    --text: #060b07;
    --background: #f9fbf9;
    --primary: #66a86f;
    --secondary: #a4cbb7;
    --accent: #7fb6a1;
}
*{
    box-sizing: border-box;
    font-family: Madimi One;
}
body{
    color: var(--text);
}

nav ul{
    list-style-type: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin-bottom: 20px;
}
nav ul li a{
    color: #060b07;
    text-decoration: none;
    font-size: x-large;
    margin: 0px 70px;
    padding: 10px;
}
nav ul li a:hover{
    background-color: var(--secondary);
    box-shadow: 5px 5px 0px var(--background);
    
    border-radius: 10px;
    transition: box-shadow 1s;
}

footer{
    background-color: var(--footer);
    padding: 10px;
    margin-top: 50px;
}
footer ul{
    list-style-type: none;
    text-align: center;
}
footer ul li a{
    color: #060b07;
}
footer ul li a:hover{
    color: var(--secondary);
}
