@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root{
    --text: #060b07;
    --background: #f9fbf9;
    --primary: #66a86f;
    --secondary: #a4cbb7;
    --accent: #7fb6a1;
}

*{
    box-sizing: border-box;
    font-family: Madimi One;
}
body{
    color: var(--text);
}
