@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    box-sizing: border-box;
    font-family: Madimi One;
}

:root{
    --verde: #66A86F;
    --verdeClaro: #a4cbb7;
    --turquesa: #7FB6A1;
    --blanco: #F9FBF9;
    --negro: #060B07;
}