:root{
    --text: #060b07;
    --background: #f9fbf9;
    --primary: #66a86f;
    --secondary: #a4cbb7;
    --accent: #7fb6a1;
    --footer: #529170;
}
body{
    margin: 0px;
    background-color: var(--accent);
}
header{
    color: var(--background);
    font-size: xx-large;
    text-shadow: 5px 5px 2px var(--secondary);
    text-align: center;
}
hr{
    padding: 5px;
    background-color: var(--background);
}

main{
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10% 10px;
    background-color: var(--secondary);
}
main section{
    display: flex;
}
main section figure figcaption{
    color: var(--background);
    text-align: center;
}
img{
    width: 200px;
    height: auto;
    border-radius: 20px;
    border: 5px solid var(--footer);
}
img:hover{
    box-shadow: 7px 7px 0px var(--primary);
    transition: box-shadow 1s;
}
