:root{
    --text: #060b07;
    --background: #f9fbf9;
    --primary: #66a86f;
    --secondary: #a4cbb7;
    --accent: #7fb6a1;
    --footer: #529170;
}
body{
    margin: 0px;
    background-color: var(--accent);
}
header{
    color: var(--background);
    font-size: xx-large;
    text-shadow: 5px 5px 2px var(--secondary);
    text-align: center;
}

hr{
    padding: 5px;
    background-color: var(--background);
}


